/Assignment1/Q1/all_encoded.csv
/Assignment1/Q1/Decision_Tree_Test_Predictions.csv
/Assignment1/Q1/encoded.csv
/Assignment1/Q1/KNN_Test_Predictions.csv
/Assignment1/Q1/MLP_Test_Predictions.csv
/Assignment1/Q1/Naive_Bayes_Test_Predictions.csv
/Assignment1/Q1/SVM_Test_Predictions.csv
